$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav-tabs > li, .gray > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 50px;
}

.ng-scope {
  text-align: center;
}

#slider{
  margin: auto;
  width: 80%;
}

.pagination > li > a{
  padding: 3px 6px;
}

.popover {
  max-width : 350px;
}

/* Added by me */
.tooltipo {
  width: 300px; }
  .tooltipo td, .tooltip th {
    padding: 2px; }
  .tooltipo .tab_sec td {
    font-size: 11px; }

.per_ejex {
  color: #35B140;
  font-size: 32px; 
}

.gray > li.active > a,
.gray > li.active > a:hover,
.gray > li.active > a:focus
{
  background-color: #9DA4A9;
}

.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
  color: #9DA4A9;
  border: 1px solid #AAA;
  color: #666;
  padding: 10px 20px;
  font-size: 16px;
}

.container{
  max-width: 900px !important;
  width: 900px !important;
}

.m0{
  margin: 0;
}

.subTit {
  color: #666;
  font-weight: normal; 
}

.s640 {
  width: 640px;
}

.tips {
  display: table;
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 870px;
}

.fila{
  display: table-row;
}

.tips .celda:nth-child(1) {
  background: #EEE url("../images/ico_1.png") no-repeat 15px center;
}

.tips .celda:nth-child(2) {
  background: #DDD url("../images/ico_2.png") no-repeat 15px center;
}

.tips .celda:nth-child(3) {
background: #CCC url("../images/ico_3.png") no-repeat 15px center;
}

.tips .celda {
  display: table-cell;
  padding: 20px 10px 20px 80px;
  width: 230px;
  color: #666;
  font-size: 15px;
  line-height: 120%;
  vertical-align: middle;
}

.referencias {
  display: table;
  padding: 10px 0;
}

.referencias .celda {
  display: table-cell;
  width: 310px;
  padding-right: 20px;
}

ul.simple {
  padding: 10px 20px;
}

ul.simple li {
  list-style: none;
  padding: 5px 0;
}

.referencias .celda h5 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}

.irs-bar {
  border-top: 1px solid #f56727;
  border-bottom: 1px solid #f56727;
  background: #f56727;
  background: linear-gradient(to top, #f56727 0%, #ffead4 100%);
}

.irs-bar-edge {
  border: 1px solid #f56727;
  background: #f56727;
  background: linear-gradient(to top, #f56727 0%, #ffead4 100%);
  border-right: 0;
}

.irs-single{
  background: #f56727;
}

.wrap {
  margin: auto;
  text-align: left;
  width: 100%;
  font-size:12px;
}

.left, .right, .center {
  float: left;
  display: block;
  width : 50%; 
}

.clear {
  clear: both; 
}

.label{
  font-size: 67%;
}