 <div class="header">
  <ul class="nav nav-pills gray pull-right">
    <li><a ng-href="#/">Gráficos</a></li>
    <li class="active"><a ng-href="#/data">Listado</a></li>
  </ul>
  <div class="s640">
    <h3 class="m0">Ejecución Financiera Proyecto Ñamopora Ñanderape</h1>
    <h6 class="subTit"><p>Explora en qué obras, servicios y bienes se invierten en el Proyecto de 105.41 millones de dólares (74: Banco Mundial, 31.41: República del Paraguay). Las obras, servicios o bienes son adquiridos a través de contratos. Las obras desarrolladas como parte del Proyecto pueden verse en un mapa interactivo, haciendo click <a href="http://www.mopc.gov.py/mopcweb/BM/mapa.html">aquí</a>.</p>
    </h6>

    <div class="tips clear mt20 mb20">
      <div class="fila">
        <div class="celda">Seleccione algún criterio (rubro, proveedor, etc.) para agrupar los contratos.</div>
        <div class="celda">Moviendo la línea de tiempo se observa el avance en ejecución de los contratos en el tiempo.</div>
        <div class="celda">Haciendo click en un contrato puede ver mas detalles.</div>
      </div>
    </div>
</div>

 <div style="width:870px; margin:auto;">
    <div style="display:none;background:#fff;" id="template-detalle">
    <div style="text-align:center">
    <div class="wrap">
    
                            <div class="left" style="text-align:center;">
                                <div id="svg-{id_svg}" style="min-width:200px;"></div>
                            </div>
    
                            <div class="right">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                {categoria_nombre}<br /><br />
                                                Monto total<br />
                                                <h5>{monto_total}</h5>
                                            </td>
                                            <td rowspan="2" class="txtC" width="30%">
                                                Monto ejecutado<br />
                                                <h1 class="per_ejex">{ejecutado}%</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Proveedor<br />
                                                <h6>{pro_nombre}</h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
    
                                <hr>
                                
                                <table class="tab_sec mb10">
                                    <tbody>
                                        <tr>
                                            <td width="50%">
                                                Fecha de contrato<br />
                                                <strong>{fecha_contrato}</strong>
                                            </td>
                                            <td>
                                                Nombre del llamado<br />
                                                <strong>{llamado_nombre}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Código de contratación<br />
                                                <strong>{cod_contrato}</strong>
                                            </td>
                                            <td>
                                                Monto ya pagado<br />
                                                <strong>Gs. {monto_pagado}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tipo de licitación<br />
                                                <strong>{mod_nombre}</strong>
                                            </td>
                                            <td>
                                                Obra<br />
                                                <strong>{obra}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                            <h2 class="clear" style="visibility:hidden;">{titulo_adendas}</h2>
                            
                              <div id="target-{id_timeline}" class="timeline-tgt" style="max-width:800px;">
                                <!-- <label>Zoom Factor</label><input id="zoom-factor" type="text" value="2" style="width: 30px;"><input id="zoom"  ype="button" value="Zoom" /><input id="to-today" type="button" value="Hoy" /> -->
                              </div>
    
    
                        </div>
    </div>
 </div>
 <table datatable="ng" class="row-border" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs" style="max-width:900px;">
        <thead>
        <tr>
            <th class="details-control sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
            <th>Cod. de Contratación</th>
            <th>Nombre</th>
            <th>RUC</th>
            <th>Razon Social</th>
            <th>Monto</th>
            <th>Tipo Licitación</th>
            <th style="display:none;">Prueba</th>
            <th style="display:none;">Id Unico</th>
        </tr>
        </thead>
        <tfoot style="display: table-header-group; max-width:900px;">
            <tr>
                <th rowspan="1" colspan="1" style="max-width:10px;" ></th>
                <th style="text-align:center;">Cod. de Contratación</th>
                <th style="text-align:center;">Nombre</th>
                <th style="text-align:center;">RUC</th>
                <th style="text-align:center;">Razon Social</th>
                <th style="text-align:center;">Monto</th>
                <th style="text-align:center;">Tipo Licitación</th>
                <th style="display:none;">Prueba</th>
                <th style="display:none;">Id para Filtrado</th>
            </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="c in contratos" id="contrato-{{$index}}">
                <td class="details-control">
                    <img src="images/ico_mostrar.png"  ng-click="mostrarDetalle(c,$index);" id="img-mostrar-{{$index}}" style="border:none;outline:0;" class="img-mostrar">
                </td>
                <td ng-bind="c.cod_contrato"></td>
                <td ng-bind="c.llamado_nombre" style="text-align:left;font-size:smaller;"></td>
                <td ng-bind="c.pro_cod"></td>
                <td ng-bind="c.pro_nombre"></td>
                <td class="monto" ng-bind="c.monto_total"></td>
                <td ng-bind="c.mod_nombre"></td>
                <td style="display:none;">prueba{{$index}}</td>
                <td style="display:none;" ng-bind="c.id_filtrado"></td>
        </tr>
        </tbody>
</table>

<div style="text-align:left;padding-bottom:10px;"> Descargar lista : <a id='descargar-json' class="btn btn-primary" ng-click="descargarJSON();">JSON</a> </div>
</div>
