<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active" id="all">
    <input type="radio" name="options"> Todos los Contratos
  </label>
  <label class="btn btn-default" id="componente">
    <input type="radio" name="options"> Componente
  </label>
  <label class="btn btn-default" id="obra_vista">
    <input type="radio" name="options"> Obra
  </label>
  <label class="btn btn-default" id="rubro_nombre">
    <input type="radio" name="options"> Rubro
  </label>
  <label class="btn btn-default" id="mod_nombre">
    <input type="radio" name="options"> Tipo de Licitación
  </label>
  <label class="btn btn-default" id="pro_nombre_vista">
    <input type="radio" name="options"> Proveedor
  </label>
</div>
<div id="chart">
	<bubble-chart data="data" until="until"></bubble-chart>
</div>
<div id="slider">
	<date-slider until="until"></date-slider>
</div>
